{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('login/login.css') }}">
{% endblock %}


{% block body %}
    <body>


    {#    <form method="post"> #}
    {#        {% if error %} #}
    {#            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
    {#        {% endif %} #}

    {#        {% if app.user %} #}
    {#            <div class="mb-3"> #}
    {#                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a> #}
    {#            </div> #}
    {#        {% endif %} #}

    {#        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}
    {#        <label for="username">Email</label> #}
    {#        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus> #}
    {#        <br> #}
    {#        <br> #}
    {#        <label for="password">Password</label> #}
    {#        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required> #}
    {#        <br> #}
    {#        <br> #}
    {#        <input type="hidden" name="_csrf_token" #}
    {#               value="{{ csrf_token('authenticate') }}" #}
    {#        > #}

    {#        <button class="btn btn-lg btn-primary" type="submit"> #}
    {#            Sign in #}
    {#        </button> #}
    {#    </form> #}

    {% if app.user %}

        <div class="wrapper">
            <div class="title">
                Logout Form
            </div>
            <form>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}
                </div>

                <div class="field">
                    <button type="submit">
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </button>
                </div>
            </form>
        </div>

    {% else %}

        <div class="wrapper">
            <div class="title">
                Login Form
            </div>
            <form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="field">
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control"
                           autocomplete="email" required autofocus>
                    <label>Email Address</label>
                </div>
                <div class="field">
                    <input type="password" name="_password" id="password" class="form-control"
                           autocomplete="current-password" required>
                    <label>Password</label>
                </div>
                <div class="content">

                </div>
                <div class="field">
                    <button type="submit">
                        Sign in
                    </button>
                </div>
                <div class="signup-link">
                    Not a member?
                        <a href="{{ path('register_user') }}">Signup now</a>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </form>
        </div>
    {% endif %}

    </body>
{% endblock %}
