{% extends 'home/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('login/exercises.css') }}">

{% endblock %}

{% block body %}


    {#    <div class="example-wrapper"> #}

    {#        <table class="min-w-full divide-y divide-gray-200"> #}

    {#            <thead class="bg-gray-800 text-white"> #}
    {#            <tr> #}
    {#                <td class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Id</td> #}
    {#                <td class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Name</td> #}
    {#                <td class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Type</td> #}
    {#                <td class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Muscle Groups #}
    {#                </td> #}
    {#                <td class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Buttons</td> #}

    {#            </tr> #}
    {#            </thead> #}

    {#            <tbody class="bg-white divide-y divide-gray-200"> #}
    {#            {% for exercise in exercises %} #}
    {#                <tr> #}
    {#                    <td class="px-6 py-4 whitespace-nowrap"> #}
    {#                        {{ exercise.id }} #}
    {#                    </td> #}
    {#                    <td class="px-6 py-4 whitespace-nowrap"> #}
    {#                        {{ exercise.name }} #}
    {#                    </td> #}
    {#                    <td class="px-6 py-4 whitespace-nowrap"> #}
    {#                        {{ exercise.type }} #}
    {#                    </td> #}
    {#                    <td class="px-6 py-4 whitespace-nowrap"> #}
    {#                        <a class="cursor-pointer" #}
    {#                           href="{{ path('app_muscle_group_name', {'name': exercise.getMuscleGroup().getTipul()}) }}"> #}
    {#                            {{ exercise.getMuscleGroup().getTipul() }} #}
    {#                        </a> #}
    {#                    </td> #}
    {#                    <td> #}
    {#                        <button> #}
    {#                            <a href="{{ path('app_exercise_update', {'id' :exercise.getId()} ) }}"> #}
    {#                                Edit #}
    {#                            </a> #}
    {#                        </button> #}
    {#                        <form action="{{ path('app_exercise_delete', {'id' : exercise.getId()}) }}" method="POST"> #}
    {#                            <input type="hidden" name="_method" value="DELETE"> #}
    {#                            <button type="submit"> #}
    {#                                Delete #}
    {#                            </button> #}
    {#                        </form> #}

    {#                    </td> #}
    {#                </tr> #}
    {#            {% endfor %} #}
    {#            </tbody> #}
    {#        </table> #}
    {#    </div> #}
    {#    #}


    <div class="mask d-flex align-items-center h-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="table-responsive bg-white">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">MuscleGroup</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for exercise in exercises %}
                                <tr>
                                    <td>{{ exercise.name }}</td>
                                    <td>{{ exercise.type }}</td>
                                    <td>
                                        <div style="display: inline-flex; flex-wrap:wrap">
                                            <div style="margin-right: 0.5rem; background-color: #c850c0; border-radius: 5px; padding: 1px">
                                                <a class="cursor-pointer" style="color: white"
                                                   href="{{ path('app_muscle_group_name', {'name': exercise.getMuscleGroup().getTipul()}) }}">
                                                    {{ exercise.getMuscleGroup().getTipul()|upper }}
                                                </a>
                                            </div>
                                        </div>

                                    </td>
                                    <td style="display: flex">

                                        <a href="{{ path('app_exercise_update', {'id' :exercise.getId()} ) }}">
                                            <i class='fas fa-align-justify edit' style='font-size:36px'></i>
                                        </a>

                                        <form action="{{ path('app_exercise_delete', {'id' : exercise.getId()}) }}"
                                              method="POST">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit">
                                                <i class='fas fa-trash delete'></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
