{% extends 'base.html.twig' %}

{% block title %}Hello MuscleGroupController!{% endblock %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>


    <div class="example-wrapper">

        <table class="min-w-full divide-y divide-gray-200">

            <thead class="bg-gray-800 text-white">
            <tr>
                <td class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Id</td>
                <td class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Email</td>
            </tr>

            </thead>

            <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ muscle_group.id }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ muscle_group.tipul }}
                    </td>
                    <td>
                        {% for exercise in muscle_group.getExerciseId %}

                            <a class="cursor-pointer" href="{{ path('app_exercise_id', {'id': exercise.id}) }}">CEVA</a>

                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



{#    <div class="mask d-flex align-items-center h-75">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-12">#}
{#                    <div class="table-responsive bg-white">#}
{#                        <table class="table mb-0">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th scope="col">Name</th>#}
{#                                <th scope="col">Type</th>#}
{#                                <th scope="col">MuscleGroups</th>#}
{#                                <th scope="col">Actions</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            {% for exercise in exercises %}#}
{#                                <tr>#}
{#                                    <td>{{ exercise.tipul }}</td>#}
{#                                    <td>{{ exercise.type }}</td>#}
{#                                    <td>#}
{#                                        <a class="cursor-pointer"#}
{#                                           href="{{ path('app_muscle_group_name', {'name': exercise.getMuscleGroup().getTipul()}) }}">#}
{#                                            {{ exercise.getMuscleGroup().getTipul() }}#}
{#                                        </a>#}
{#                                    </td>#}
{#                                    <td style="display: flex">#}

{#                                        <a href="{{ path('app_exercise_update', {'id' :exercise.getId()} ) }}">#}
{#                                            <i class='fas fa-align-justify edit' style='font-size:36px'></i>#}
{#                                        </a>#}

{#                                        <form action="{{ path('app_exercise_delete', {'id' : exercise.getId()}) }}"#}
{#                                              method="POST">#}
{#                                            <input type="hidden" name="_method" value="DELETE">#}
{#                                            <button type="submit">#}
{#                                                <i class='fas fa-trash delete'></i>#}
{#                                            </button>#}
{#                                        </form>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}




{% endblock %}
