{% extends 'home/home.html.twig' %}


{% block body %}

    <style>
        .gradient-custom {
            /*!* fallback for old browsers *!*/
            /*background: #6a11cb;*/

            /*!* Chrome 10-25, Safari 5.1-6 *!*/
            /*background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));*/

            /*!* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
            /*background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))*/
        }
    </style>
<body>


        {#        {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }} #}

        {#        <div class="field"> #}
        {#            {{ form_label(form.email, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }} #}
        {#            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email Address'}}) }} #}
        {#            {{ form_errors(form.email, {'attr': {'class': 'text-red-600 text-sm'}}) }} #}
        {#        </div> #}

        {#        <div class="field"> #}
        {#            {{ form_label(form.name, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }} #}
        {#            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Username'}}) }} #}
        {#            {{ form_errors(form.name, {'attr': {'class': 'text-red-600 text-sm'}}) }} #}
        {#        </div> #}

        {#        <div class="field"> #}
        {#            {{ form_label(form.password, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }} #}
        {#            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }} #}
        {#            {{ form_errors(form.password, {'attr': {'class': 'text-red-600 text-sm'}}) }} #}
        {#        </div> #}

        {#        <div class="field"> #}
        {#            {{ form_widget(form.button, {'attr': {'class': 'btn btn-primary'}}) }} #}
        {#        </div> #}

        {#        {{ form_end(form) }} #}


        <div class="container py-5 h-50">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            {{ form_start(form, {'attr': {'class': ''}}) }}
                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                <div data-mdb-input-init class="form-outline form-white mb-4">

                                    {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Email Address'}}) }}
                                    {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_errors(form.email, {'attr': {'class': 'text-red-600 text-sm'}}) }}

                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">

                                    {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Username'}}) }}
                                    {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_errors(form.name, {'attr': {'class': 'text-red-600 text-sm'}}) }}
                                </div>


                                <div data-mdb-input-init class="form-outline form-white mb-4">

                                    {{ form_widget(form.password, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Password'}}) }}
                                    {{ form_label(form.password, null, {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_errors(form.password, {'attr': {'class': 'text-red-600 text-sm'}}) }}
                                </div>

                                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Password'}}) }}
                                {{ form_label(form.imageFile, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_errors(form.imageFile, {'attr': {'class': 'text-red-600 text-sm'}}) }}

                                <br>
                                <br>
                                <br>

{#                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="">Forgot password?</a>#}
{#                                </p>#}

                                {{ form_widget(form.button, {'attr': {'class': 'btn btn-outline-light btn-lg px-5'}}) }}

                            </div>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

{% endblock %}
