{% extends 'home/home.html.twig' %}

{% block title %}{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('login/users.css') }}">
    {% endblock %}


{% block body %}
    {{ parent() }}
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="table-responsive bg-white">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Roles</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in userList %}
                                    <tr>
                                        <th scope="row" style="color: #666666;">{{ user.id }}</th>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.name }}</td>
                                        <td>
                                            {% for roles in user.getRoles() %}
                                                <div style="display: inline-flex; flex-wrap:wrap">
                                                    <div style="margin-right: 0.5rem; background-color: #c850c0; border-radius: 5px; padding: 1px">{{ roles }}</div>
                                                </div>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a href="{{ path('app_user_id_retrieving', {'id': user.id}) }}"><i
                                                        class="fa fa-address-card"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}