{% extends'home/home.html.twig' %}

{% block javascripts %}
{% endblock %}

  {% block stylesheets %}
      {{ parent() }}
      <link rel="stylesheet" href="{{ asset('login/user.css') }}">
  {% endblock %}

{% block body %}


    <div class="container mt-5">

        <div class="row d-flex justify-content-center">

            <div class="col-md-7">

                <div class="card p-3 py-4">

                    <div class="text-center">
                        {% if user.imageData %}
                            <img src="{{ "data:" ~ mimeType ~ ";base64," ~ imageData ~}}" alt="User Image"
                                 style="max-width: 200px; max-height: 200px; width: 100px; height: 100px">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </div>

                    <div class="text-center mt-3">
                        {% for role in user.roles %}

                            <span class="bg-secondary p-1 px-4 rounded text-white"> {{ role | replace({'ROLE_': ''}) }}</span>
                        {% endfor %}
                        <h5 class="mt-2 mb-0">{{ user.name }}</h5>
                        <span>{{ user.email }}</span>

                        {% if visualise == true %}
                            <div class="px-4 mt-1" style="padding: 20px;">
                                <a href="{{ path('app_user') }}">Edit Account</a>
                            </div>
                        {% endif %}
                        <h2 class="py-4">Trainings</h2>
                        {% for work in user.getWorkouts() %}
                            <button>
                                <a href="{{ path('app_workout_id', {'id' : work.id} ) }}">  {{ work.name }}</a>
                            </button>
                        {% endfor %}
                        <ul class="social-list">

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
