{% extends 'home/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('workout.css') }}">
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <style>

    </style>

    {{ parent() }}
    {#    <div style="width: 100%; height: 100vh; background-color: #c4d3f6; display: flex; justify-content: center; flex-wrap: wrap; padding: 33px 30px"> #}
    {#        <div style="width: 960px; border-radius: 10px; overflow: hidden"> #}

    {#            <table class="table"> #}
    {#                <thead> #}
    {#                <tr class="row header"> #}
    {#                    <td class="cell">Id</td> #}
    {#                    <td class="cell">Name</td> #}
    {#                    <td class="cell">Date</td> #}
    {#                    <td class="cell">Email</td> #}
    {#                </tr> #}
    {#                </thead> #}

    {#                <tbody class=""> #}
    {#                {% for workout in workouts %} #}
    {#                    <tr class="row"> #}
    {#                        <td class="cell"> #}
    {#                            {{ workout.id }} #}
    {#                        </td> #}
    {#                        <td class="cell"> #}
    {#                            {{ workout.name }} #}
    {#                        </td> #}
    {#                        <td class="cell"> #}
    {#                            {{ workout.createdAt|date("m/d/Y h:m:s") }} #}
    {#                        </td> #}
    {#                        <td class="cell"> #}
    {#                            {{ workout.person.getEmail() }} #}
    {#                        </td> #}
    {#                        <td> #}
    {#                            <button> #}
    {#                                <a href="{{ path('app_exercise_workout_id' , {'id' : workout.id}) }}">                                    View Exercises #}
    {#                                </a> #}
    {#                            </button> #}
    {#                        </td> #}
    {#                        <!-- -#}
    {#                        <td class="p-5"> #}
    {#                            <div class="flex items-center gap-1"> #}
    {#                                <button class="p-2 rounded-full group transition-all duration-500 flex items-center"> #}
    {#                                    <svg class="cursor-pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> #}
    {#                                        <path class="fill-indigo-500" d="M9.53414 8.15675L8.96459 7.59496L8.96459 7.59496L9.53414 8.15675ZM13.8911 3.73968L13.3215 3.17789V3.17789L13.8911 3.73968ZM16.3154 3.75892L15.7367 4.31126L15.7367 4.31127L16.3154 3.75892ZM16.38 3.82658L16.9587 3.27423L16.9587 3.27423L16.38 3.82658ZM16.3401 6.13595L15.7803 5.56438L16.3401 6.13595ZM11.9186 10.4658L12.4784 11.0374L11.9186 10.4658ZM11.1223 10.9017L10.9404 10.1226V10.1226L11.1223 10.9017ZM9.07259 10.9951L8.52556 11.5788L8.52556 11.5788L9.07259 10.9951ZM9.09713 8.9664L9.87963 9.1328V9.1328L9.09713 8.9664ZM9.05721 10.9803L8.49542 11.5498H8.49542L9.05721 10.9803ZM17.1679 4.99458L16.368 4.98075V4.98075L17.1679 4.99458ZM15.1107 2.8693L15.1171 2.06932L15.1107 2.8693ZM9.22851 8.51246L8.52589 8.12992L8.52452 8.13247L9.22851 8.51246ZM9.22567 8.51772L8.52168 8.13773L8.5203 8.1403L9.22567 8.51772ZM11.5684 10.7654L11.9531 11.4668L11.9536 11.4666L11.5684 10.7654ZM11.5669 10.7662L11.9507 11.4681L11.9516 11.4676L11.5669 10.7662ZM11.3235 3.30005C11.7654 3.30005 12.1235 2.94188 12.1235 2.50005C12.1235 2.05822 11.7654 1.70005 11.3235 1.70005V3.30005ZM18.3 9.55887C18.3 9.11705 17.9418 8.75887 17.5 8.75887C17.0582 8.75887 16.7 9.11705 16.7 9.55887H18.3ZM3.47631 16.5237L4.042 15.9581H4.042L3.47631 16.5237ZM16.5237 16.5237L15.958 15.9581L15.958 15.9581L16.5237 16.5237ZM10.1037 8.71855L14.4606 4.30148L13.3215 3.17789L8.96459 7.59496L10.1037 8.71855ZM15.7367 4.31127L15.8013 4.37893L16.9587 3.27423L16.8941 3.20657L15.7367 4.31127ZM15.7803 5.56438L11.3589 9.89426L12.4784 11.0374L16.8998 6.70753L15.7803 5.56438ZM10.9404 10.1226C10.3417 10.2624 9.97854 10.3452 9.72166 10.3675C9.47476 10.3888 9.53559 10.3326 9.61962 10.4113L8.52556 11.5788C8.9387 11.966 9.45086 11.9969 9.85978 11.9615C10.2587 11.9269 10.7558 11.8088 11.3042 11.6807L10.9404 10.1226ZM8.31462 8.8C8.19986 9.33969 8.09269 9.83345 8.0681 10.2293C8.04264 10.6393 8.08994 11.1499 8.49542 11.5498L9.619 10.4107C9.70348 10.494 9.65043 10.5635 9.66503 10.3285C9.6805 10.0795 9.75378 9.72461 9.87963 9.1328L8.31462 8.8ZM9.61962 10.4113C9.61941 10.4111 9.6192 10.4109 9.619 10.4107L8.49542 11.5498C8.50534 11.5596 8.51539 11.5693 8.52556 11.5788L9.61962 10.4113ZM15.8013 4.37892C16.0813 4.67236 16.2351 4.83583 16.3279 4.96331C16.4073 5.07234 16.3667 5.05597 16.368 4.98075L17.9678 5.00841C17.9749 4.59682 17.805 4.27366 17.6213 4.02139C17.451 3.78756 17.2078 3.53522 16.9587 3.27423L15.8013 4.37892ZM8.52726 8.12737C8.52763 8.12668 8.52801 8.12599 8.52838 8.1253L7.52964 7.69462C7.37834 7.7644 7.22542 7.82891 7.07103 7.888L8.52964 7.69462C8.53128 7.69387 8.53291 7.69312 8.53455 7.69237L8.52726 8.12737ZM7.52826 7.69718L8.52589 8.12992L9.22686 8.5062L10.2327 7.64753L8.96459 7.59496L7.52826 7.69718ZM12.4561 4.42061L8.09916 8.83768L9.23829 9.96128L13.5952 5.54421L12.4561 4.42061ZM10.3564 1.70005C9.91453 1.70005 9.55636 2.05822 9.55636 2.50005H11.5564C11.5564 2.05822 11.1982 1.70005 10.7564 1.70005H10.3564ZM17.5 8.75887H17.5187V10.7589H17.5V8.75887ZM4.042 16.5237C4.04477 16.5265 4.04756 16.5293 4.05036 16.532L2.90889 15.4108C2.66036 15.6594 2.66036 16.0727 2.90889 16.3213L4.042 16.5237ZM15.958 15.9581L14.8155 16.3213C15.064 16.0727 15.064 15.6594 14.8155 15.4108L15.958 15.9581ZM10.1037 8.71855L11.5684 10.7654L11.9477 10.4694L10.4829 8.42248L10.1037 8.71855ZM11.9473 10.4681L17.934 4.44957L17.2853 3.80056L11.2986 9.8191L11.9473 10.4681ZM8.52452 8.13247C9.33843 8.69743 10.1182 8.95733 10.9936 9.1897C11.8141 9.40832 12.6762 9.61101 13.5585 9.61101L13.5585 7.61101C12.8693 7.61101 12.1527 7.42909 11.4538 7.2239C10.5566 6.96679 9.59469 6.67611 8.52726 6.04106L8.52452 8.13247ZM11.5684 10.7654L8.52589 8.12737L7.53181 8.12992L7.53772 8.13247L11.5684 10.7654ZM17.9678 4.0156C17.9001 4.07022 17.8103 4.14402 17.7268 4.20615L16.3154 3.75892L15.7367 4.31126L16.3411 4.91836C16.8417 5.31174 17.543 5.65069 18.2905 5.64648C18.5553 5.64489 18.9 5.5 19.2 5.2L18.5 4.5C18.2001 4.19993 17.801 4.01538 17.9678 4.0156ZM2.90044 15.4237C2.95872 15.4446 3.02095 15.4607 3.08511 15.4706L4.05036 16.532L2.90889 15.4108L2.90044 15.4237ZM16.5237 16.5237C16.5366 16.5275 16.5498 16.5305 16.5632 16.5326L15.5233 15.4108L15.958 15.9581L16.5237 16.5237ZM17.3 9.55887C17.3 9.82692 17.4739 10.0727 17.7038 10.0727C17.9338 10.0727 18.2 9.82692 18.3 9.55887H17.3ZM15.114 3.33139L17.1679 4.99458L16.368 4.98075L15.3141 3.31756L15.114 3.33139ZM10.7238 1.7V3.3H11.3235V1.7H10.7238ZM9.55636 2.5C9.55636 2.94183 9.91453 3.3 10.3564 3.3V1.7C9.91453 1.7 9.55636 2.05817 9.55636 2.5ZM8.09916 8.83768L4.042 16.5237L4.90889 15.4108L8.96505 7.69462L8.09916 8.83768ZM4.90889 15.4108L15.958 15.9581L15.5233 15.4108H15.958L16.5237 16.5237C16.5047 16.5259 16.4856 16.5279 16.4665 16.5297L16.5237 16.5237ZM15.8013 4.37893L16.368 4.98075L17.968 5.00841L17.4013 4.31557L16.368 4.31126L15.8013 4.37893Z" /> #}
    {#                                        <path class="stroke-indigo-500 transition-all duration-300 group-hover:stroke-indigo-500 group-hover:scale-110" d="M2 10H14M2 6H18M2 14H18M18 10L9 19L4 14" stroke="#6366F1" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" /> #}
    {#                                    </svg> #}
    {#                                </button> #}
    {#                            </div> #}
    {#                        </td>--> #}
    {#                    </tr> #}
    {#                {% endfor %} #}
    {#                </tbody> #}
    {#            </table> #}
    {#        </div> #}



    <div class="gradient-custom-1 h-100 mt-negative-60">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="table-responsive bg-white">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for workout in workouts %}
                                    <tr>
                                        <th scope="row" style="color: #666666;">{{ workout.id }}</th>
                                        <td>{{ workout.name }}</td>
                                        <td>{{ workout.createdAt|date("m/d/Y h:m:s") }}</td>
                                        <td>{{ workout.person.getEmail() }}</td>
                                        <td>
                                            <button>
                                                <a href="{{ path('app_exercise_workout_id' , {'id' : workout.id}) }}">
                                                    View Exercises
                                                </a>
                                            </button>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
